<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        	<div id="idioma">
			  	  <span data-tr="Cambiar idioma:"></span>
			  	  <button data-tr="Español" id="btn-es"></button>
			  	  <button data-tr="Inglés" id="btn-en"></button>
			  	  <button data-tr="Valenciano" id="btn-va"></button>
			     </div>
      </div>
    </div>
  </div>
</footer>
 -->
 <!-- <div id="header">	
	<div id="slide-lang">
		<ul style="list-style : none; margin: 0; padding: 0; margin-top: 2px;">
			<li><button class="lang-btn" data-tr="Valencian" id="btn-val"></buttton></li>
			<li><button class="lang-btn" data-tr="Spanish" id="btn-es"></button></li>
			<li><button class="lang-btn" data-tr="English" id="btn-en"></button></li>
			<li><button class="lang-btn" data-tr="Standard Galactic Alphabet" id="btn-aa"></button></li>
		</ul>
	</div>
</div> -->
