<!-- 

<div style="width: 40%; margin-left: 5%;">

    <section id="main-slider">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active"
                    style="background-image: url(corlate/images/slider/bg1.jpg);   border-radius: 25px;">
                </div>

                <div class="item" style="background-image: url(corlate/images/slider/bg2.jpg)">
                </div>

            </div>
        </div>
        <a class="prev hidden-xs hidden-sm" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs hidden-sm" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section>




</div>

-->
<!-- <div style="position: absolute; top: 20%; left: 60%; color: rgb(177, 41, 0);">
<h1><img src="views/images/icons/fuel.png" style="max-height: 33px;"> AAAAAAAAAAAAAAAAAAA</h1>
Buenas<br>
Hola

</div>  -->


<div id="shopPage">
</div>


<script src="corlate/js/bootstrap.min.js"></script>
<script src="corlate/js/jquery.prettyPhoto.js"></script>
<script src="corlate/js/owl.carousel.min.js"></script>
<script src="corlate/js/jquery.isotope.min.js"></script>
<script src="corlate/js/main.js"></script>